@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

@media only screen and (max-device-width: 759px) {
  .directions {
    display: none;
  }

  .contact h3 {
    display: none;
  }
}

body {
  background-color: #191765;
  background-image:
    url("/Ellipse\ 18.png"),
    url("/Ellipse\ 19@2x.png"),
    url("/Ellipse\ 20@2x.png"),
    url("/Ellipse\ 21@2x.png"),
    url("/Ellipse\ 22@2x.png"),
    url("/Ellipse\ 19@2x.png");
  background-repeat: no-repeat;
  background-size:
    120px 230px,
    60px 150px,
    200px,
    120px,
    240px 190px,
    140px 200px;
  background-position:
    left 0 top 50px,
    right -90px top 610px,
    left -100px top 1620px,
    right 0 top 2220px,
    left 0 top 3010px,
    right 0 top 3760px;
  width: 100vw;
  height: 100vh;
}

main {
  max-width: 370px;
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 50px;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
}

.headline {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  display: flex;
  width: 310px;
  justify-content: center;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #edecff;
}

.informations {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 86%;
  margin-left: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  height: 190px;
  color: #c8c8d4;
  border-bottom: 1px solid #646369;
}

.owner {
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 700px;
  font-size: 25px;
  text-align: center;
  letter-spacing: 0.37px;
  color: #7d73fc;
  margin-top: 80px;
}

p {
  display: flex;
  align-self: center;
}

.tools {
  display: flex;
  width: 90%;
  border-bottom: 1px solid#646369;
  height: 500px;
}

.tools ul {
  list-style-type: none;
}

.languages h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  margin: 20px;
  color: #9490ff;
}

.languages ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 7.16667px;
  margin: 20px;
  gap: 10.78px;
  width: 111.08px;
  height: 128.67px;
}

.languages li {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  display: flex;
  align-items: center;
  color: #f5f5ff;
}

.frameworks h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  margin: 20px;
  color: #9490ff;
}

.frameworks ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 7.16667px;
  margin: 20px;
  gap: 10.78px;
  width: 111.08px;
  height: 128.67px;
}

.frameworks li {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  display: flex;
  align-items: center;
  color: #f5f5ff;
}

.skills {
  position: absolute;
  margin-top: 220px;
}

.skills h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  margin: 20px;
  color: #9490ff;
}

.skills ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 7.16667px;
  margin: 20px;
  gap: 10.78px;
  width: 111.08px;
  height: 128.67px;
}

.skills li {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  display: flex;
  align-items: center;
  color: #f5f5ff;
}

.socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px;
  gap: 30px;
  border-bottom: 1px solid #646369;
  width: 90%;
}

.direction {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #a2a3ae;
}

.recent {
  display: flex;
  align-self: flex-start;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  color: #9490ff;
}

.multi-post {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  width: 327px;
  height: 729px;
  margin-top: 50px;
}

.multi-head {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  display: flex;
  align-items: center;
  color: #fff;
}

.multi-info {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #dcdce8;
}

.esentials ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 14px;
  width: 312px;
  height: 40px;
  list-style-type: none;
  margin-left: -12px;
}

.esentials li {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 49px;
  height: 40px;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
}

.form-sect li + li {
  margin-top: 1em;
}

.esentials ul li:nth-child(2),
.esentials ul li:nth-child(3),
.esentials ul li:nth-child(4) {
  border-left: 1px solid #555;
}

button {
  background-color: #7d73fc;
  width: 90px;
  height: 48px;
  padding: 8px;
}

.reach {
  display: grid;
  margin-top: 130px;
  margin-left: -30px;
  width: 70%;
}

.contact h2 {
  width: 327px;
  height: 35px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #9390ff;
  padding-left: 80px;
}

.more p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #f5f5ff;
  width: 80%;
}

form {
  width: 370px;
  padding: 1em;
  margin: 0;
  border-bottom: 1px solid #3a3837;
  height: 500px;
}

.form-sect ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

input[type=text] {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  padding: 15px 16px;
  font-size: 15px;
  display: inline-block;
  background-color: #fff;
  color: #191765;
}

input[type=email] {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  padding: 15px 16px;
  font-size: 15px;
  display: inline-block;
  background-color: #fff;
  color: #81818c;
}

textarea {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  width: 330px;
  margin-left: -35px;
  box-sizing: border-box;
  border: 1px solid #000;
  height: 140px;
  padding: 12px 12px;
}

input {
  font: 'Roboto', sans-serif;
  width: 330px;
  box-sizing: border-box;
  border: 1px solid #000;
  height: 48px;
  margin-left: -35px;
}

input:focus,
textarea:focus {
  border-color: #000;
}

.form-sect button {
  margin-left: 80px;
}

button:hover {
  background-color: #7d73fc;
}

button:active {
  background-color: #5e42d7;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #ebebff;
}


@media only screen and (min-device-width: 760px) {
  body {
  background-color: #191765;
  background-image:
    url("/Ellipse\ 18.png"),
    url("/Ellipse\ 19@2x.png"),
    url("/Ellipse\ 20@2x.png"),
    url("/Ellipse\ 21@2x.png"),
    url("/Ellipse\ 22@2x.png"),
    url("/Ellipse\ 19@2x.png");
  background-repeat: no-repeat;
  background-size:
    120px 230px,
    60px 150px,
    200px,
    120px,
    240px 190px,
    140px 200px;
  background-position:
    left 0 top 50px,
    right -90px top 610px,
    left -100px top 1620px,
    right 0 top 2220px,
    left 0 top 3010px,
    right 0 top 3760px;
  width: 100vw;
  height: 100vh;

}
  
  main {
    max-width: 1720px;
  }

  .headline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .informations {
    width: 448px;
  }

  .tools {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 448px;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
  }

  .languages {
    height: 60px;
    margin-left: -90px;
  }

  .frameworks {
    height: 120px;
  }

  .skills {
    height: 90px;
    position: absolute;
    margin-left: 430px;
    margin-top: -2px;
  }

  .comply {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 900px;
  }

  .socials {
    height: 320px;
  }
  .recent {
    margin-top: 100px;
  }

  .directions {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #a2a3ae;
  }

  .multi-post1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1000px;
    height: 500px;
  }

  .multi-post1 img {
    width: 550px;
  }

  .handle {
    width: 450px;
    padding: 20px 30px;
  }
  
  .multi-post2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 1000px;
    height: 500px;
  }

  .handle2 {
    width: 450px;
    padding: 20px 30px;
  }

  .multi-post2 img {
    width: 550px;
  }

  .multi-post3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1000px;
    height: 500px;
  }

  .handle3 {
    width: 450px;
    padding: 20px 30px;
  }

  .multi-post3 img {
    width: 550px;
  }

  .multi-post4 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 1000px;
    height: 500px;
  }

  .handle4 {
    width: 450px;
    padding: 20px 30px;
  }

  .multi-post4 img {
    width: 550px;
  }

  .contact h2 {
    display: none;
  }

  .contact h3 {
    width: 327px;
    height: 35px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #9390ff;
    padding-left: 80px;
  }

  .contact {
    display: flex;
    justify-content: center;
    width: 1000px;
  }

  .more {
    display: flex;
    justify-content: center;
    width: 1000px;
  }

  .form-sect {
    width: 1000px;
    margin-top: 30px;
    display: flex;
    justify-content: flex-start;
    padding-left: 75px;
  }

  input {
    width: 830px;
  }

  textarea {
    width: 830px;
  }

  .form-sect button {
    margin: 90px 260px;
    width: 160px;
  }

  footer {
    width: 1100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  form {
    width: 1000px;
  }
}
