@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

body {
  background: #191765;
}

main {
  width: 327px;
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 50px;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
}

.headline {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  display: flex;
  width: 310px;
  justify-content: center;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #edecff;
}

.informations {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 86%;
  margin-left: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  height: 190px;
  color: #c8c8d4;
  border-bottom: 1px solid #646369;
}

.owner {
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 700px;
  font-size: 25px;
  text-align: center;
  letter-spacing: 0.37px;
  color: #7d73fc;
  margin-top: 80px;
}

p {
  display: flex;
  align-self: center;
}

.tools {
  display: flex;
  width: 90%;
  border-bottom: 1px solid#646369;
  height: 500px;
}

.tools ul {
  list-style-type: none;
}

.languages h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  margin: 20px;
  color: #9490ff;
}

.languages ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 7.16667px;
  margin: 20px;
  gap: 10.78px;
  width: 111.08px;
  height: 128.67px;
}

.languages li {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  display: flex;
  align-items: center;
  color: #f5f5ff;
}

.frameworks h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  margin: 20px;
  color: #9490ff;
}

.frameworks ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 7.16667px;
  margin: 20px;
  gap: 10.78px;
  width: 111.08px;
  height: 128.67px;
}

.frameworks li {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  display: flex;
  align-items: center;
  color: #f5f5ff;
}

.skills {
  position: absolute;
  margin-top: 220px;
  margin-left: -330px;
}

.skills h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  margin: 20px;
  color: #9490ff;
}

.skills ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 7.16667px;
  margin: 20px;
  gap: 10.78px;
  width: 111.08px;
  height: 128.67px;
}

.skills li {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  display: flex;
  align-items: center;
  color: #f5f5ff;
}

.socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px;
  gap: 30px;
  border-bottom: 1px solid #646369;
  width: 90%;
}

.direction {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #a2a3ae;
}

.recent {
  display: flex;
  align-self: flex-start;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  color: #9490ff;
}

.multi-post {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  width: 327px;
  height: 729px;
  margin-top: 50px;
}

.multi-head {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  display: flex;
  align-items: center;
  color: #fff;
}

.multi-info {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #dcdce8;
}

.esentials ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 14px;
  width: 312px;
  height: 40px;
  list-style-type: none;
}

.esentials li {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 49px;
  height: 40px;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
}

.esentials ul li:nth-child(2),
.esentials ul li:nth-child(3),
.esentials ul li:nth-child(4) {
  border-left: 1px solid #555;
}

button {
  background-color: #7d73fc;
  width: 90px;
  height: 48px;
  padding: 8px;
}

.reach {
  display: grid;
  margin-top: 130px;
  margin-left: -30px;
  width: 80%;
}

.contact h2 {
  width: 327px;
  height: 35px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #9390ff;
  padding-left: 120px;
}

.more p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #f5f5ff;
}
